<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/register" method="POST">
  <input type="text" placeholder="Enter your Name" name="name"><br><br>
  <input type="text" placeholder="Enter your username" name="username"><br><br>
  <input type="password" placeholder="Enter your password" name="password"><br><br>
  <input type="submit"><br><br>
  </form>
  <hr>
  <form action="/login" method="POST">
  <input type="text" placeholder="Enter your username" name="username"><br><br>
  <input type="password" placeholder="Enter your password" name="password"><br><br>
  <input type="submit">
</form>
</body>
</html>