<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
  <!-- navbar and logout -->
    <nav class="navbar navbar-light bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand text-light my-13">Product for Sell</a>
        <form class="d-flex">
      <a href="/logout"><button class="btn btn-danger" type="button">Logout</button></a>
        </form>
      </div>
    </nav>
<!-- card all product show -->
<div class="container d-flex flex-row">
    <% user.product.forEach(function(elem) {%>
        <div class="card mx-1 my-1" style="width: 18rem;">
            <img src="<%= elem.image  %> " class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title"><%= elem.name  %> </h5>
              <p class="card-text"><%= elem.description  %> </p>
              <p class="card-text">seller :- <%= user.username  %> </p>
              <a href="#" class="btn btn-primary">Buy | <%= elem.price  %> </a>
              <a href="/delete/<%= elem._id %>" class="btn btn-danger">Delete</a>
              <a href="/edit/<%= elem._id %>" class="btn btn-warning">edit</a>
            </div>
          </div>    
    <%})%>
</div>   
<!-- create product form  -->
   <div class="container">
    <form action="/product" method="POST"> 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Product name</label>
          <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Product Image</label>
          <input name="image"  type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input name="description"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input name="price"  type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
       
       
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>

