<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
 

<!-- create product form  -->
   <div class="container">
    <form action="/edit/<%= data._id %>" method="POST"> 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Product name</label>
          <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= data.name %>">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Product Image</label>
          <input name="image"  type="text" class="form-control" id="exampleInputPassword1" value="<%= data.image %>">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input name="description"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= data.description %>">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input name="price"  type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= data.price %>">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
